@media (prefers-color-scheme: dark) {
	* {
		background-color: #29292e;
		color: white;
	}
}
@media (prefers-color-scheme: light) {
	* {
		background-color: #f5f2d0;
		color: black;
	}
}

body {
	font-family: Georgia, Verdana, sans-serif;
}

p {
    text-align: center;
}