@media (prefers-color-scheme: dark) {
	* {
		background-color: #29292e;
        color: white;
    }
}
@media (prefers-color-scheme: light) {
	* {
		background-color: #f5f2d0;
		color: black;
	}
}

body {
	font-family: Georgia, Verdana, sans-serif;
}


.link:hover {
    cursor: pointer
}

.center {
    text-align: center;
}

  
.popup-content {
    /*margin: 15% auto; /* 15% from the top and centered */
    padding: 0px 10px;
    width: 200px;
}